= hierarchy "Equipment Type"

%h2 View Equipment Type

.admin-proplist
  .fieldset
    .field
      .label Code
      .value= @equipment_type.code

  .buttons
    .link= link_to "&#171; All Equipment Types".html_safe, [:admin, :equipment_types]
