= hierarchy "Stock Card"

%h2 View Stock Card

.admin-proplist
  .fieldset
    .field
      .label Code
      .value= @stock_card.code

  .buttons
    .link= link_to "&#171; All Stock Cards".html_safe, [:admin, :stock_cards]
