<div class="login-container">
  <form class="login-form">
    <div class="form-errors">Invalid access code</div>
    <label for="user-access_code">Enter access code</label>
    <input type="password" name="access_code" id="user-access_code" />
    <button class="login" id="user-login">Log in</button>
  </form>
</div>
