<div id="offline-sync">
  <a id="return-home" href="#home">&lt;&lt; Main Page</a>

  <h1>Sync</h2>

  <h2>Pull Data From Server</h2>
  <table class="spreadsheet">
    <thead>
      <th>Data Type</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr>
        <th>Products</th>
        <td id="sync-products-result"><%= pullResults.products %></td>
      </tr>
      <tr>
        <th>Delivery Zones</th>
        <td id="sync-delivery_zones-result"><%= pullResults.deliveryZones %></td>
      </tr>
      <tr>
        <th>Health Centers</th>
        <td id="sync-health_centers-result"><%= pullResults.healthCenters %></td>
      </tr>
      <tr>
        <th>HC Visits</th>
        <td id="sync-hc_visits-result"><%= pullResults.hcVisits %></td>
      </tr>
    </tbody>
  </table>
  <a id="sync-pull" href="#">Pull Data</a>

  <h2>Debugging/Development</h2>
  <a id="sync-reset" href="#reset">Delete Local Cache</a> (this will delete any local changes!)

</div>
