%h2.screen-header
  %span.seqno 4
  =t('visits.health_center_monthly_tasks.page_titles.rdt_inventory_tally')
%p.note
%p.note=t('visits.nr_instructions')
%form.edit-full-rdt-inventory
  %table.spreadsheet
    %thead
      %tr
        %th="("+t('visits.rdt_inventory_tally.tests')+")"
        %th=t('RdtInventoryTally.usage_previous_month')
        %th=t('RdtInventoryTally.ideal_stock')
        %th=t('RdtInventoryTally.existing')
        %th=t('visits.rdt_inventory_tally.distributed_boxes')
    %tbody
      :plain
        <% _.each(packages, function(package) { %>
      %tr
        %th
          :plain
            <%= I18n.t(["Package",package.code]) %>
        %td
          :plain
             <% var fName = "rdt_inventory." + package.code + ".usage_prev_month"; %>
             <% var fVal = (rdt_inventory[package.code]||{}).usage_prev_month; %>
             <%= tableField(fName, fVal, true, true) %>
          %td
            :plain
              <% var fName = "rdt_inventory." + package.code + ".ideal_stock"; %>
              <% var fVal = (rdt_inventory[package.code]||{}).ideal_stock; %>
              <%= tableField(fName, fVal, true, true) %>
          %td
            :plain
              <% var fName = "rdt_inventory." + package.code + ".existing"; %>
              <% var fVal = (rdt_inventory[package.code]||{}).existing; %>
              <%= tableField(fName, fVal, true, true) %>
          %td
            :plain
              <% var fName = "rdt_inventory." + package.code + ".distributed"; %>
              <% var fVal = (rdt_inventory[package.code]||{}).distributed; %>
              <%= tableField(fName, fVal, true) %>
            .footnote="("+t('visits.rdt_inventory_tally.boxes')+")"
        :plain
          <% }); %>
