$background-color: #fff;

$text-color: #000;
$header-color: #000;
$edge-color: #ccc;

$notice-color: #00c;
$error-color: #f00;

$link-color: #09c;
$link-hover-color: #0cf;

$table-even: #eaeaff;
$table-odd: transparent;

