@import "colors";
@import "mixins";

.admin-table {
  width: 100%;
  margin: 5px 0px;
  border-bottom: solid 2px $text-color;
  border-top: solid 2px $text-color;
  text-align: center;
  font-size: 11px;

  tr {
    th {
      padding: 10px 5px;
      border-top: solid 1px $text-color;
      border-bottom: solid 1px $text-color;
    }

    td {
      padding: 8px 5px;
      border-top: solid 1px $edge-color;
    }
  }

  .even { background-color: $table-even; }
  .odd { background-color: $table-odd; }

  .table-actions {
    width: 1%;
    text-align: left;
    white-space: nowrap;
    font-style: normal;

    ul { @include horiz-nav(5px, $text-color); }

    a:link, a:visited, a:active {
      color: $link-color;
      font-weight: bold;
    }

    a:hover {
      border-bottom: dotted 1px $link-color;
    }
  }
}

.admin-actions {
  margin: 0px 0px 10px 0px;
  font-size: 12px;

  a {
    color: $link-color;
    font-style: italic;
    font-weight: bold;
  }

  a:hover {
    border-bottom: dotted 1px $link-color;
  }
}

.form, .admin-proplist {
  margin: 10px 10px 10px 0px;
  overflow: hidden;

  input, textarea {
    border: solid 1px $edge-color;
    padding: 5px;
  }

  input[type="checkbox"], input[type="radio"] {
    border: none;
  }

  input[disabled] {
    opacity: 0.66;
  }

  legend, .legend {
    width: 100%;
    padding: 40px 0px 10px 0px;
    border-top: dashed 1px $edge-color;
    font-size: 18px;
    font-weight: bold;
    color: $header-color;
    clear: both;
  }

  .field, .nested-field {
    margin: 0px 0px 10px 0px;
    border-top: dashed 1px $edge-color;
    min-height: 16px;
    clear: both;
  }

  .field ul {
    list-style-image: url(image-path("bullet-square-3f0580.png"));
    li { margin: 0px 0px 10px 20px; }
  }

  .nested-field {
    clear: right;
    border: 0px;
    .value { margin-top: 0px; }
  }

  .label {
    display: block;
    float: left;
    width: 20%;
    margin: 10px 0px;
    font-weight: bold;
    color: inherit;
  }

  .value {
    margin: 10px 0px 10px 20%;
  }
  .value-wide {
    margin: 10px 0px;
  }

  .extended-value {
    display: inline;
    margin-right: 10px;
  }

  .buttons {
    margin: 0px;
    height: 30px;
    padding: 10px 0px;
    clear: left;
    border-top: dashed 1px $edge-color;
  }

  .button input, .button a {
    float: left;
    border: 1px solid $edge-color;
    background-color: transparent;
    color: $link-color;
    margin: 2px;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .button input {
    padding: 4px 10px;
  }

  .link a {
    float: left;
    border: 1px solid $edge-color;
    margin: 2px;
    padding: 2px 4px;
  }

  .button input:hover, .button a:hover, .link a:hover {
    background-color: $table-even;
    border-color: $link-color;
    cursor: pointer;
  }

  .field_with_errors {
    display: inline;
    color: $error-color;
  }
  
  .advanced { display: none; }
  .collapsed { display: none; }
}

.admin-proplist .nested-field .label { margin-top: 0px; }

.table-tree {
  width: 100%;
  font-size: 11px;
  tr { border: 1px solid $edge-color; }
  th, td { padding: 4px; }
  th { text-align: right; }
  td { width: 100%; }
}


.pagination {
  margin: 10px;

  span a {
    border: 1px solid $edge-color;
    margin: 2px;
    padding: 2px 4px;
  }

  span a:hover, span a:active {
    background-color: $table-even;
    border: 1px solid $link-color;
  }

  span.current { border: 1px solid $text-color; }
  span.current, span.gap {
    margin: 2px;
    padding: 2px 4px;
  }
}
