/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
*/

@import "layout";
@import "colors";
@import "mixins";

body {
  background-color: #dadcd1;
  color: $text-color;
  font-family: Arial;
  font-size: 14px;
  line-height: normal;
}

h1, h2, h3 {
  margin: 20px 0px 10px 0px;
  color: $header-color;
}

h1 { font-size: 28px; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }


a:link, a:visited, a:active {
  color: $link-color;
  text-decoration: none;
}

a:hover { border-bottom: dotted 1px $link-hover-color; }
a.nohover:hover { border-bottom: none; }

#header {
  width: $main-width; height: 50px; 
  margin: 0px auto;

  #header-logo { float: left; margin: 10px; }
}

#main {
  background-color: $background-color;
  width: $main-width;
  margin: 10px auto;
  padding: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#footer {
  margin: 10px auto;
  width: $main-width - 20px;
  font-size: 11px;
}

#user-bar {
  display: block;
  float: right;
  position: relative;
  top: 0px; right: 0px;
  height: 20px; min-width: 100px;
  padding: 7px 10px 5px 10px;
  background-color: $background-color;
  text-align: right;

  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

#notice, #alert, #error-explanation {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0px;
}
#notice {
  border: solid 5px $notice-color;
  color: $notice-color;
}
#alert, #error-explanation {
  border: solid 5px $error-color;
  color: $error-color;
}

.clear { clear: both; }
