@import "layout";
@import "colors";

$border-color: #541;
$header-color: #541;

$tab-menu-width: 150px;
$min-screen-height: 500px;
$screen-bg-color: #f6f6f6;
$screen-edge-color: green;
$font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;


body { line-height: 1.5em; }

h1, h2, h3 { color: $header-color; }

input, textarea {
  border: 1px solid $edge-color;
  background-color: $background-color;
  font-family: $font-family;
  color: $text-color;
  font-size: 16px;
  padding: 3px;
}


#page-title { text-align: center; }

#fc-zone-select, #fc-zone-show {
  float: left;
  width: $main-width - 340px; min-height: 300px;
  border: 2px solid $border-color;
  margin: 5px; padding: 10px;

  h2 {
    font-size: 28px;
    text-align: center;
  }

  .form {
    margin: 20px;

    .field {
      min-height: 16px;
      clear: both
    }

    .label {
      display: block;
      float: left;
      width: 38%;
      text-align: right;
    }

    .value {
      margin: 10px 0px 10px 40%;
    }

    .button { margin: 10px 0px 10px 40%; }
  }
}

#fc-actions-overview {
  float: left;
  border: 2px solid $border-color;
  margin: 5px; padding: 10px;
  width: 270px; min-height: 300px;
  h2 {margin-top: 3px}

  ul li {
    font-weight: bold;
    ul li {
      margin-left: 20px;
      font-weight: normal;
    }
    ul li {
      margin-left: 20px;
      font-weight: normal;
    }

  }
}
#reports {
  ul {
    margin-left: 20px;
  }
}


#fc-actions-overview.zone-select {
  background-color: #ccc;
  pointer-events: none;
  cursor: default;
  a { color: $text-color; }
}

#fc-login {
  text-align: center;

  h2 {
    font-size: 28px;
    text-align: center;
  }

  input[type=text] { width: 250px; }

  .field { margin: 30px 0px 20px 0px; }
}

#fc-select-health-center {
  margin-left: 300px;

  h2 { font-size: 24px; }
  input[type=text] { width: 250px; }

  #hc_list {
    height: 300px;
    width: 300px;
    overflow: scroll;
    border: 1px dotted black;
    padding: 2px 10px;

    ul li ul li {margin-left: 20px;}
  }
}




.form-errors {
  display: none;
  text-align: center;
  border: 2px solid #c00;
  font-size: 16px;
  padding: 15px;
  color: #c00;
}

.change-hc {
  padding-left: 12px;
  a {
    font-size: 13px;
    font-weight: normal;
  }
}

.x {
  display: inline-block;
  width: 16px; height: 16px;
  background-repeat: no-repeat;
  background-image: url(image-path('icons-16px.png'));
  vertical-align: top;
  margin: 1px;
}
.x-invalid { background-position: -32px 0px; }
.x-valid { background-position: 0px 0px; }

.tab-menu {
  width: $tab-menu-width;
  float: left;
  font-size: 13px;
  line-height: 18px;

  li {
    display: block;
    padding: 7px 6px;
    font-weight: bold;
  }

  a:hover {
    color: #c77405;
    border-bottom: none;
  }

  .x { margin-right: 2px; }
  .complete   .x { background-position: 0px 0px; }
  .incomplete .x { background-position: -16px 0px; }
  .todo       .x { background-position: -32px 0px; }
  .disabled   .x { background-position: -48px 0px; }

  .selected {
    width: $tab-menu-width - 12px;
    background-color: $screen-bg-color;
    border: 1px solid $screen-edge-color;
    border-right: none;

    pointer-events: none;
    cursor: default;
    a { color: $text-color; }
  }

  .disabled a {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.tabbed-container, .tab-content {
  font-family: $font-family;
  vertical-align: baseline;
}

.tab-content {
  width: $main-width - $tab-menu-width - 6px;
  min-height: $min-screen-height;
  background-color: $screen-bg-color;
  border: 1px solid $screen-edge-color;
  margin: 0px 0px 0px $tab-menu-width;
}

.tab-screen {
  padding: 15px;
  font-size: 16px;
  color: #222;
}

.tab-nav-links {
  border-top: 1px solid #ccc;
  margin: 15px 15px 30px 15px;
  padding: 7px 0px;

  .prev { float: left; }
  .next { float: right; }
}

.screen-header {
  border-bottom: 1px solid #ccc;
  font-size: 21px;
  color: #333;
  font-weight: normal;
  padding: 0px 0 8px 0px;
  margin-top: 0px;
  margin-bottom: 1em;

  .seqno {
    float: left;
    font-weight: bold;
    background-color: white;
    border: 1px solid #222;
    border-radius: 24px;
    color: #222;
    height: 20px;
    margin-right: 0.5em;
    padding: 2px;
    text-align: center;
    position: relative;
    top: -2px;
    width: 20px;
    font-size: 13px;
  }
}



#hc-visited-data, #hc-unvisited-data {
  margin-top: 20px;
}

.radio-label {
  font-weight: bold;
  margin: 0px;

}

.tab-screen {
  textarea {
    width: 400px;
    height: 4em;
  }

  .field { padding: 4px 0px; }
}

.note {
  margin: -15px 0px 15px 0px;
  font-style: italic;
}

.spreadsheet {
  border: 1px solid gray;

  th, td {
    border-right: 1px dotted gray;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size: 13px;
    min-width: 60px;
  }

  thead th {
    background-color: #c3d9ff;
    padding: 4px;
    vertical-align: bottom;
  }

  tbody th {
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
    padding: 4px;
  }

  td {
    padding: 2px;
    white-space: nowrap;
  }

  input[type=number], input[type=text], input[type=date] {
    width: 40px;
    margin: 0px 1px;
    padding: 0px;
    font-size: 14px;
    text-align: right;
  }

  input[type=date] { width: 60px; }
  input[type=radio] { margin: 0px 1px 0px 4px; }

  td.calculated {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: navy;
    padding: 10px 2px;
  }

  td.opened, td.wastage {
    vertical-align: bottom;
  }

  .footnote {
    text-align: right;
    font-style: italic;
  }

}

// hides up/down arrows for number-based inputs in chrome
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nr-div {
  label { padding-left: 0px; }
}

.refrigerator {
  margin-bottom: 20px;

  .temperature { width: 40px; }
}

.two-columns {
  width: 100%;
  .column {
    width: 46%;
    float: left;
    padding: 0px 20px 0px 0px;
  }
}

.clear {
  clear: both;
}

.equipment-notes {
  height: 1px;
  textarea { width: 135px; height: 100%; }
}

.edit-observations {
  textarea {
    width: 90%;
    height: 10em;
  }

  label {
    display: block;
    float: left;
    width: 120px;
    text-align: right;
    vertical-align: middle;
    padding: 2px 5px;
  }

  .two-columns {
    margin-top: 30px;
  }

}

.inline-error {
  font-size: 12px;
  color: #f00;
}

#reports-adhoc-definitions {
  float: left;
  width: 700px;

  textarea { width: 700px; }
}

#reports-adhoc-definition-names {
  margin-left: 720px;
  h2 { margin: 0px 0px 10px 0px; }
  font-size: 12px;
}

#reports
  table td, th {
    border: 1px dotted gray;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
  }
  table td {font-size: 0.8em;}
  table th {
    background: #eee;
  }
  #scope_form {
    .scope_label {
      font-weight: normal;
      padding-left: 1em;
    }
    .change_label {
      font-weight: bold;
    }
    .row {
      margin-left: 1em;
    }
  }

#content {
  #inner_topbar {
    float: right;
    vertical-align: top;
    text-align: right;
    font-size: 0.8em;
    clear: both;

  }
}

.tab-screen.read-only {
  input, textarea, a, button {
    pointer-events: none;
    cursor: default;
  }

  input, textarea {
    background: #eee;
  }

  a, button {
    display: none;
  }
}
