<h1>Listing hc_visits</h1>

<table id="hc_visits-table">
  <tr>
    <th>Visited</th>
    <th>Visited at</th>
    <th>Vehicle</th>
    <th>Non visit reason</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Hc visit</a>