<h1>New hc_visit</h1>

<form id="new-hc_visit" name="hc_visit">
  <div class="field">
    <label for="visited"> visited:</label>
    <input type="text" name="visited" id="visited" value="<%= visited %>" >
  </div>

  <div class="field">
    <label for="visited_at"> visited_at:</label>
    <input type="text" name="visited_at" id="visited_at" value="<%= visited_at %>" >
  </div>

  <div class="field">
    <label for="vehicle_id"> vehicle_id:</label>
    <input type="text" name="vehicle_id" id="vehicle_id" value="<%= vehicle_id %>" >
  </div>

  <div class="field">
    <label for="non_visit_reason"> non_visit_reason:</label>
    <input type="text" name="non_visit_reason" id="non_visit_reason" value="<%= non_visit_reason %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Hc visit" />
  </div>

</form>

<a href="#/index">Back</a>