<p>
  <b>Visited:</b>
  <%= visited %>
</p>

<p>
  <b>Visited at:</b>
  <%= visited_at %>
</p>

<p>
  <b>Vehicle:</b>
  <%= vehicle_id %>
</p>

<p>
  <b>Non visit reason:</b>
  <%= non_visit_reason %>
</p>


<a href="#/index">Back</a>